.footer {
	&__wrapper{
        padding: 30px 22px;
        text-transform: uppercase;
        border: $border;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @media(max-width: 600px){
            text-align: center;
            gap: 20px;
            font-size: 14px;
            flex-direction: column;
        }
    }
}
