.header {
    a {
        color: #000000;
    }
    .btn {
        text-transform: uppercase;
        color: white;
        padding: 15px 44px;
        background-color: #FB4B4D;
    }
	&__wrapper {
        padding: 30px 22px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        border: $border;

        @media (max-width: 600px){
            justify-content: center;
            flex-direction: column;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;

        .nav__item {
            padding: 15px;
        }

        @media (max-width: 1090px){
            gap: 0;
        }

        @media (max-width: 1000px) {
            
            flex-direction: column;
        }
    }
    
}
