.hero {
    &__wrapper {
        display: flex;
        border: $border;
        margin-top: -1px;
        @media (max-width: 800px){
            flex-direction: column;
        }
    }

    &__left {
        border-right: $border;
        width: 50%;
        .picture__left {
            padding: 20px;
        }

        @media (max-width: 800px){
            width: 100%;
            border-right: none;
        }
    }

    .slider {
        overflow: hidden;
        position: relative;
        &__wrapper {
            display: flex;
            border-bottom: $border;
            border-top: $border;
            padding: 25px;

        }
        &__item {
            display: flex;
            align-items: center;
            padding: 0 28px;
            gap: 28px;
            white-space: nowrap;
            flex-shrink: 0;
            animation: slider 5s linear infinite;

            p {
                font-size: 17px;
                font-weight: 400;
                line-height: 25.92px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
            }
        }

        @keyframes slider{
            0% {
                transform: translateZ(0);
            }

            to {
                transform: translate3d(-100%, 0, 0);
            }
        }
    }
    &__right {
        &-text {
            padding: 20px 80px;
            border-bottom: $border;

            @media (max-width: 800px){
                border-top: $border;
            }
            h2 {
                text-align: center;
                font-size: 58px;
                font-weight: 400;
                line-height: 64.512px;
                letter-spacing: 0.5px;
                text-transform: uppercase;

                @media (max-width: 500px){
                    font-size: 28px;
                    line-height: 50px;
                    letter-spacing: 0;
                }
            }
        }
        .hero__image {
            padding: 20px;
        }
        
    }
}